$color_blanc: #f1f8fc;
$color_bleuCLair: #0074c7;
$color_bleuFonce: #00497c;
$color_gris: #384050;
$color_rouge: #cd2c2e;
$color_vert: #82b864;

.artisan-card {
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: $color_blanc;

  .artisan-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
  }

  .artisan-img {
    flex: 1 1 250px;
    max-width: 300px;
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .artisan-text {
    flex: 2 1 400px;

    h3 {
      margin-top: 0;
      font-size: 1.5rem;
    }

    .btn-group {
      margin-top: 1rem;

      .btn {
        background-color: $color_bleuCLair;
        color: $color_blanc;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        margin-right: 0.5rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: $color_bleuFonce;
        }
      }
    }

    .stars {
      margin-top: 0.5rem;
      font-size: 1.2rem;
      color: $color_vert;
    }
  }

//   @media (max-width: 768px) {
//     .artisan-content {
//       flex-direction: column;
//       text-align: center;
//     }

//     .btn-group {
//       justify-content: center;
//     }
//   }
}
