<header class="site-header">
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="assets/images/logo-site.png" alt="Logo site">
    </a>
    <p>header works!</p>
    <nav class="main-nav">
      <ul>
        <li><a routerLink="/a-propos" routerLinkActive="active">À propos</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/accueil" routerLinkActive="active">Accueil</a></li>
      </ul>
    </nav>
  </div>
</header>
