/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  width: 100%; /* Ajout pour garantir la largeur complète */
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime le padding par défaut */
  font-family: sans-serif;
}