<h2 *ngIf="searchTerm" class="search-title">
  Résultats pour : "{{ searchTerm }}"
</h2>

<!-- Liste des artisans filtrés -->
<div class="artisan-list">
    <!-- Boucle sur chaque artisan trouvé -->
    <ng-container *ngFor="let artisan of artisans">
        <!-- Carte artisan cliquable : redirige vers sa fiche complète -->
        <a
            [routerLink]="['/artisan', artisan.id]"
            class="artisan-card row align-items-center text-decoration-none mb-3"
            >
            <!-- Image à gauche -->
            <div class="col-md-3 col-12 text-center">
                <img [src]="artisan.images.photo" alt="{{ artisan.nom }}" class="img-fluid rounded artisan-img" />
            </div>

            <!-- Infos à droite -->
            <div class="col-md-9 col-12">
                <h3 class="text-primary">{{ artisan.nom }}</h3>
                <p><strong>Spécialité :</strong> {{ artisan.specialite }}</p>
                <p><strong>Ville :</strong> {{ artisan.ville }}</p>
                <p><strong>Note :</strong> {{ artisan.note }}</p>
            </div>
        </a>
    </ng-container>
</div>

<p *ngIf="artisans.length === 0" class="no-result">
  Aucun artisan ne correspond à votre recherche.
</p>
